body {
  text-align: center;
  font-family: Helvetica;
}

#home, #divide, #footer, a {
  color: white;
}

h1, h2, h3, .nav {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  margin: 0px;
  padding: 0px;
}

p.nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#footer {
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}

#home {
  background-image: url("../images/flatiron.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#divide {
  background-image: url("../images/flatiron.png");
}
